body{
    background-color: #FCF0C0;
    
    font-family: new-spirit-condensed, serif;
    font-weight: 400;
    font-style: normal;
}

.container-fluid{
    padding:30px;
}

.row{
    justify-content:center;
}

.page-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
    gap:32px;

    max-width:600px;
}

p {
    font-size:20px;
    margin:0;
}
#mc_embed_signup, #mc_embed_signup_scroll{
    width:100%;
}

#mc_embed_signp_scroll{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 100%;
    
    align-self: stretch;
}

.form-control{
    padding: 10px 20px;
    height: 55px;
    width:100%;
    text-align:center;

    background: #FCF0C0;
    border: 2px solid #000000;
    box-shadow: -4px 6px 0px #000000;
    border-radius: 46px;

    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
}

.form-container{
    display:flex;
    flex-direction: column;
    gap:12px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #000;
  }

.submit-button{
    padding: 10px 20px;
    
    width:100%;
    height: 55px;

    background: #FFE833;
    border: 2px solid #000000;
    box-shadow: -4px 6px 0px #000000;
    border-radius: 90px;

    flex-grow: 0;

    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    color:#000000;
}

.submit-button:hover{
    background:#F3AF00;
}

.number-content{
    text-align: center;
}

.phone{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform:uppercase;
    font-size:36px;
}

 /* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .form{
        flex-direction: row;
    }
    .form-control{
        width:100%;
        text-align:left;
    }

    .form-container{
        display:flex;
        flex-direction: row;
    }
    
    
    /* .submit-button{
        width:40%;
    } */
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }